* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  }

.contenedorprincipal {
  display: flex;
  flex-direction: row;
}
.contenedorlateral {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: 30%;
  border: 1px solid gray;
}
.Boxpadre {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
  border-bottom: 1px solid grey;
}

.box_uno {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.box_uno h3 {
  font-size: 24px;
}

.box_uno p {
  color: gray;
}
.box_uno img {
  height: 70px;
  width: 70px;
  border-radius: 200px;
}

.box_dos {
  display: flex;
  padding-top: 12px;
  color: gray;
  gap: 18px;
}

.boton {
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
}

button {
  width: 230px;
  height: 60px;

  background-color: #a491d2;
}

button a {
  text-decoration: none;
  color: white;
}

.contactos {
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  align-items: center;
  height: 100px;
  gap: 15px;
  border-bottom: 1px solid grey;
  padding-left: 17px;
}
.user img {
  height: 80px;
  width: 80px;
  border-radius: 200px;
}

.user .mensajes {
  padding-top: 12px;
  text-align: justify;
}

.container {
  width: 70%;
  background-color: #e8ebe4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.containter-interior {
  align-items: center;
  height: 460px;
}
.container img {
  height: 300px;
  width: 300px;
  padding-bottom: 20px;
}

h1 {
  font-size: 45px;
  padding-bottom: 5px;
}

.container p {
  font-size: 18px;
}
